:root {
  --azulEScuro: #101823;
  --azulEScuroForte: #08121d;
  --azulClaro: #145278;
  --amarelo: #e89a47;
  --branco: #fffaf5;
  --cinza: #1e1e1e;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--azulEScuro);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* background: rgb(217, 139, 79);
background: linear-gradient(
  90deg,
  rgba(217, 139, 79, 1) 0%,
  rgba(216, 169, 129, 1) 100%
); */

.banner img {
  height: 100%;
  width: 100%;
}

.container {
  margin-top: -150px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  flex-direction: row;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.containerText {
  margin-left: 50px;
}

.containerText h4 {
  color: var(--amarelo);
}

.containerText h1 {
  margin-top: 10px;
  color: var(--branco);
}

.containerText h3 {
  margin-top: 10px;
  color: var(--amarelo);
}

.containerText h2 {
  margin-top: 10px;
  color: var(--branco);
}

.containerButtons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
  border-radius: 20px;
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  background-color: var(--azulEScuroForte);
}

.containerButtons h3 {
  text-align: center;
  color: var(--branco);
  margin-bottom: 20px;
}

.buttons {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttons a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--branco);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttons a:hover {
  background: var(--amarelo);
}

.buttons i {
  margin-right: 10px;
}

.containerLoc {
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--azulEScuroForte);
}

.floatContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textLeftLoc {
  height: 350px;
  width: 600px;
}

.textLeftLoc h1 {
  color: var(--branco);
  padding-top: 80px;
  margin-left: 50px;
}

.textLeftLoc p {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  color: var(--branco);
}

.locContainerFloatLeft {
  margin-top: -50px;
  margin-left: 17%;
  width: 600px;
  height: 100px;
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textOneFloatLeft {
  display: flex;
  flex-direction: row;
}

.textOneFloatLeft i {
  color: var(--branco);
  font-size: 20px;
}

.textOneFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.textTwoFloatLeft {
  display: flex;
  flex-direction: row;
}

.textTwoFloatLeft i {
  color: var(--branco);
  font-size: 20px;
}

.textTwoFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.locContainerFloatRight {
  justify-content: center;
  margin-top: -250px;
  margin-right: 10%;
  width: 430px;
  height: 120px;
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.textOneFloatRight {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.textOneFloatRight i {
  color: var(--branco);
  margin-right: 10px;
}

.textOneFloatRight h5 {
  color: var(--branco);
}

.textTwoFloatRight {
  margin-top: 10px;
  margin-left: 20px;
}

.textTwoFloatRight h6 {
  margin-top: 8px;
  color: var(--branco);
}

.textTwoFloatRight h3 {
  font-weight: 800;
  color: var(--cinza);
}

.containerPlantaeDiff {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  background-color: var(--azulEScuroForte);
  justify-content: space-around;
}

.containerPlant {
  margin-left: 50px;
  margin-top: 80px;
  text-align: center;
}

.containerPlant h1 {
  color: var(--branco);
}

.slider {
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: left 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.btn {
  margin-bottom: 290px;
  margin-left: 150px;
  margin-right: 150px;
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn.prev {
  left: 20px;
}

.btn.prev i {
  color: var(--amarelo);
}

.btn.next {
  right: 20px;
}

.btn.next i {
  color: var(--amarelo);
}

.btn:hover {
  background: #666;
}

.buttonConsultor {
  margin-top: 30px;
  margin-bottom: 70px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttonConsultor a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--branco);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttonConsultor a:hover {
  background: var(--amarelo);
}

.containerDifferentials {
  margin-top: 100px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.titleDiff {
  padding: 15px;
  background-color: var(--amarelo);
  margin-bottom: 30px;
}

.titleDiff h7 {
  margin-left: 30px;
  color: var(--branco);
  font-size: 20px;
}

.titleDiff h2 {
  margin-left: 30px;
  color: var(--branco);
}

.itens {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.itens i {
  margin-right: 10px;
  font-size: 25px;
  color: var(--amarelo);
}

.itens h4 {
  font-size: 22px;
  color: var(--branco);
}

.containerDiff1 {
  display: flex;
  flex-direction: row;
}

.column1 {
  margin-right: 120px;
}

.containerGallery {
  margin-top: 80px;
}

.titleGallery h1 {
  text-align: center;
  color: var(--branco);
}

.containerSwitch {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}

.containerSwitch a {
  padding: 20px;
  align-content: center;
  text-decoration: none;
  color: var(--branco);
  text-align: center;
  height: 40px;
  background-color: var(--amarelo);
}

.switch {
  cursor: pointer;
  transition: 0.3s;
}
