:root {
  --azulEScuro: #101823;
  --azulEScuroForte: #08121d;
  --azulClaro: #145278;
  --amarelo: #e89a47;
  --branco: #fffaf5;
  --cinza: #08121d;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--azulEScuroForte);
}

::-webkit-scrollbar-thumb {
  background-color: var(--amarelo); /* Cor da barra de rolagem */
  border-radius: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--azulEScuro);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadetobottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes desaparecer {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes desaparecer {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* LINEAR DEGRADE DOURADO

background: rgb(217, 139, 79);
background: linear-gradient(
  90deg,
  rgba(217, 139, 79, 1) 0%,
  rgba(216, 169, 129, 1) 100%
);

*/

.menu {
  z-index: 2;
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: right;
  transform: translateY(-50%);
  color: #fff;
  width: 200px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

/* .menu ul li {
  
} */

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menuTitulo {
  width: 100px;
  height: 90px;
  font-weight: 600;
  color: var(--cinza);
  padding: 15px;
  align-items: left;
  justify-content: center;
  text-align: center;
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-bottom: solid 1px white;
}

.menuTitulo i {
  font-size: 20px;
}

.menuBotaoWpp {
  width: 120px;
  justify-content: center;
  height: 100px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  text-align: center;
  background-color: #23bd3b;
  font-size: 12px;
  transition: 0.4s;
}

.menuBotaoWpp:hover {
  transition: 0.4s;
  background-color: #158025;
  height: 110px;
}

.menuBotaoWpp i {
  margin-bottom: 5px;
  font-size: 29px;
}

.menuLigamos {
  border-top: solid 1px white;
  margin-left: 20px;
  width: 100px;
  justify-content: center;
  height: 90px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  text-align: center;
  background-color: var(--amarelo);
  font-size: 12px;
  transition: 0.4s;
}

.menuLigamos:hover {
  transition: 0.4s;
  background-color: #b37635;
  height: 110px;
}

.menuLigamos p {
  color: var(--cinza);
}

.menuLigamos i {
  color: var(--cinza);
  margin-bottom: 5px;
  font-size: 29px;
}

.menuEmail {
  margin-left: 20px;
  width: 100px;
  border-top: solid 1px white;
  justify-content: center;
  height: 90px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  text-align: center;
  background-color: var(--amarelo);
  font-size: 12px;
  transition: 0.4s;
}

.menuEmail:hover {
  transition: 0.4s;
  background-color: #b37635;
  height: 110px;
}

.menuEmail i {
  color: var(--cinza);
  margin-bottom: 5px;
  font-size: 29px;
}

.menuEmail p {
  color: var(--cinza);
}

.banner img {
  height: 100%;
  width: 100%;
}

.container {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-top: -150px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  flex-direction: row;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.containerText {
  margin-left: 50px;
}

.containerText h4 {
  color: var(--amarelo);
}

.containerText h1 {
  margin-top: 10px;
  color: var(--branco);
}

.containerText h3 {
  margin-top: 10px;
  color: var(--amarelo);
}

.containerText h2 {
  margin-top: 10px;
  color: var(--branco);
}

.containerButtons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;

  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  background-color: var(--azulEScuroForte);
}

.containerButtons h3 {
  text-align: center;
  color: var(--branco);
  margin-bottom: 20px;
}

.buttons {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttons a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--cinza);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttons a:hover {
  background: var(--amarelo);
}

.buttons i {
  margin-right: 10px;
}

.containerLoc1 {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--azulEScuroForte);
}

.floatContainers {
  animation: fadetobottom 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textLeftLoc {
  height: 350px;
  width: 600px;
}

.textLeftLoc h1 {
  color: var(--branco);
  padding-top: 80px;
  margin-left: 50px;
}

.textLeftLoc p {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  color: var(--branco);
}

.locContainerFloatLeft {
  margin-top: -50px;
  margin-left: 17%;
  width: 600px;
  height: 100px;
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textOneFloatLeft {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.textOneFloatLeft i {
  color: var(--amarelo);
  font-size: 20px;
}

.textOneFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.textTwoFloatLeft {
  display: flex;
  flex-direction: row;
}

.textTwoFloatLeft i {
  color: var(--amarelo);
  font-size: 20px;
}

.textTwoFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.locContainerFloatRight {
  justify-content: center;
  margin-top: -250px;
  margin-right: 10%;
  width: 430px;
  height: 120px;
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.textOneFloatRight {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.textOneFloatRight i {
  color: var(--branco);
  margin-right: 10px;
}

.textOneFloatRight h5 {
  color: var(--branco);
}

.textTwoFloatRight {
  margin-top: 10px;
  margin-left: 20px;
}

.textTwoFloatRight h6 {
  margin-top: 8px;
  color: var(--branco);
}

.textTwoFloatRight h3 {
  font-weight: 800;
  color: var(--cinza);
}

.containerPlantaeDiff {
  animation: 2s ease-in 0s 1 fadeIn;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  background-color: var(--azulEScuroForte);
  justify-content: space-around;
}

.containerPlant {
  margin-left: 50px;
  margin-top: 80px;
  text-align: center;
}

.containerPlant h1 {
  color: var(--branco);
}

.slider {
  cursor: pointer;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: left 0.5s;
}

.slide img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.btn {
  margin-bottom: 290px;
  margin-left: 150px;
  margin-right: 150px;
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn.prev {
  left: 20px;
}

.btn.prev i {
  color: var(--amarelo);
}

.btn.next {
  right: 20px;
}

.btn.next i {
  color: var(--amarelo);
}

.btn:hover {
  background: #666;
}

.buttonConsultor {
  margin-top: 30px;
  margin-bottom: 70px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttonConsultor a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--cinza);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttonConsultor a:hover {
  background: var(--amarelo);
}

.containerDifferentials {
  margin-top: 90px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.titleDiff {
  padding: 15px;
  background-color: var(--amarelo);
  margin-bottom: 30px;
}

.titleDiff h7 {
  margin-left: 30px;
  color: var(--branco);
  font-size: 20px;
}

.titleDiff h2 {
  margin-left: 30px;
  color: var(--branco);
}

.itens {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.itens i {
  margin-right: 10px;
  font-size: 25px;
  color: var(--amarelo);
}

.itens h4 {
  font-size: 22px;
  color: var(--branco);
}

.containerDiff1 {
  display: flex;
  flex-direction: row;
}

.column1 {
  margin-right: 120px;
}

.containerGallery {
  margin-top: 40px;
}

.titleGallery h1 {
  text-align: center;
  color: var(--branco);
}

.apresentacao-container {
  
  width: 100%;
  height: 700px;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.apresentacao-containerx {
  width: 100%;
  height: 700px;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.apresentacao-fade {
  display: none;
}
.apresentacao-fadex {
  display: none;
}

.imgBanContainer {
  width: 960px;
  height: 540px;
  background-color: var(--branco);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.imgBanContainer img {
  width: 100%;
}

.anterior,
.proxima {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
}

.anterior i,
.proxima i {
  color: var(--amarelo);
}

.anterior {
  left: 20%;
  border-radius: 10px;
}

.proxima {
  right: 20%;
  border-radius: 10px;
}

.anterior:hover,
.proxima:hover {
  background-color: #666;
}

.fade {
  -webkit-animation-name: desaparecer;
  -webkit-animation-duration: 2s;
  animation-name: desaparecer;
  animation-duration: 2s;
}

.containerSwitch {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerSwitch a {
  padding: 20px;
  align-content: center;
  text-decoration: none;
  color: var(--branco);
  text-align: center;
  height: 40px;
  background-color: var(--amarelo);
}

.switch {
  cursor: pointer;
  transition: 0.3s;
}

.containerVideo {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.leftVideo {
  width: 40%;
}

.leftVideo img {
  opacity: 0.09;
  margin-left: 40%;
  width: 280px;
}

.rightVideo {
  height: 400px;
  width: 60%;
  background-color: var(--azulEScuroForte);
}

.rightVideo h1 {
  margin-top: 40px;
  margin-left: 30px;
  color: var(--branco);
}

.rightVideo iframe {
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  border-radius: 10px;
  padding: 1px;
  background-color: #e89a47;
  margin-top: 60px;
  margin-left: -70px;
}

.containerLoc {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--azulEScuroForte);
}

.textsLoc h6 {
  color: var(--amarelo);
}

.textsLoc h2 {
  color: var(--branco);
}

.containerTextLoc {
  padding-bottom: 200px;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}

.containerTextLoc p {
  color: var(--branco);
  font-size: 14px;
  margin-left: 5%;
}

.textsLoc {
  display: flex;
  flex-direction: column;
}

.iframeMap {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-bottom: 100px;
  margin-top: -140px;
  margin-left: 19%;
  margin-right: 19%;
}

.iframeMap iframe {
  background: var(--azulEScuroForte);
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  width: 100%;
  height: 500px;
}

.containerBigGalerryPhoto {
  width: 100%;
}

.containerGalerryPhoto {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapperX {
  position: relative;
}
.slider-wrapperXy {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 45%;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  background: var(--branco);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateY(-50%);
}
.slider-wrapperX .slide-buttonX {
  position: absolute;
  top: 90%;
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  background: var(--cinza);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateY(-50%);
}
.slider-wrapperXy .slide-buttonXy {
  position: absolute;
  top: 90%;
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  background: var(--cinza);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #666;
}
.slider-wrapperX .slide-buttonX:hover {
  background: #666;
  transition: 0.2s;
}
.slider-wrapperXy .slide-buttonXy:hover {
  background: #666;
  transition: 0.2s;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapperX .slide-buttonX#prev-slideX {
  left: 32%;
}
.slider-wrapperXy .slide-buttonXy#prev-slideXy {
  left: 32%;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapperX .slide-buttonX#next-slideX {
  right: 32%;
}
.slider-wrapperXy .slide-buttonXy#next-slideXy {
  right: 32%;
}

.slide-button i {
  color: var(--amarelo);
}
.slide-buttonX i {
  color: var(--amarelo);
}
.slide-buttonXy i {
  color: var(--amarelo);
}

.slider-wrapper .image-list {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapperX .image-listX {
  height: 540px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  gap: 40px;
  font-size: 0;
  list-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapperXy .image-listXy {
  height: 540px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 40px;
  font-size: 0;
  list-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 225px;
  height: 330px;
  object-fit: cover;
}
.slider-wrapperX .image-listX .image-itemX {
  width: 960px;
  height: 540px;
  object-fit: cover;
}
.slider-wrapperXy .image-listXy .image-itemXy {
  width: 960px;
  height: 540px;
  object-fit: cover;
}

.slider-wrapper .image-list .image-itemx {
  width: 225px;
  height: 330px;
  object-fit: cover;
}
.slider-wrapperX .image-listX .image-itemxX {
  width: 60%;
  min-height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.slider-wrapperXy .image-listXy .image-itemxXy {
  width: 960px;
  height: 540px;
  object-fit: cover;
  cursor: pointer;
}

.containerTextoGalleryPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--azulEScuroForte);
  padding: 13px;
  width: 225px;
  bottom: 0;
}

.containerTextoGalleryPhoto i {
  margin-right: 8px;
  font-size: 14px;
  color: var(--amarelo);
}

.containerTextoGalleryPhoto h5 {
  font-size: 12px;
  color: var(--amarelo);
}

.containerGalerryPhoto .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: var(--amarelo);
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


.containerFichaTecnica {
  background-color: var(--amarelo);
  margin-right: 25%;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.containerFichaTecnica img {
  width: 250px;
}

.textFicha p {
  padding: 20px;
  color: var(--cinza);
}

.containerForms {
  background: var(--azulEScuroForte);
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  display: flex;
  flex-direction: row;
  margin-bottom: 130px;
  background-color: var(--azulEScuroForte);
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.titleContato {
  padding-left: 50px;
}

.titleContato h6 {
  color: var(--amarelo);
}

.titleContato h2 {
  color: var(--branco);
}

.inputContainer {
  margin-left: 100px;
}

.group {
  margin-top: 20px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--amarelo);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(232 154 71 / 10%);
}

.inputContainer button {
  cursor: pointer;
  margin-top: 20px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
  height: 40px;
  width: 95%;
  border: none;
  color: var(--cinza);
  font-weight: 600;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.inputContainer button:hover {
  background: var(--amarelo);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalx {
  display: none;
  position: fixed;
  z-index: 12;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.closez {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.footerPage {
  padding-bottom: 30px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--azulEScuroForte);
  color: var(--branco);
}

.footer {
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--azulEScuroForte);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logovienna {
  text-align: center;
  align-content: center;
  width: 30%;
}

.logovienna img {
  height: 80px;
}

.redes {
  text-align: center;
  align-content: center;
  width: 30%;
  font-size: 40px;
  color: var(--branco);
}

.redes i {
  padding: 20px;
}

.redes a {
  text-decoration: none;
  color: var(--branco);
  transition: 0.2s;
}

.redes a:hover {
  color: var(--amarelo);
}

.logoevler {
  text-align: center;
  align-content: center;
  width: 30%;
}

#formPop {
  width: 70%;
  height: 280px;
  margin-left: 15%;
  align-items: center;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}
#formPop::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.containerFormsPop {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  background-color: var(--azulEScuroForte);
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.containerFormsPop i {
  color: var(--branco);
  font-size: 30px;
  position: absolute;
  margin-left: 90%;
  margin-top: -125px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .banner img {
    height: 100%;
    width: 100%;
  }

  .container {
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    margin-top: -150px;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
    flex-direction: column;
  }

  .avatar {
    margin-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .containerText {
    margin-top: 20px;
    margin-left: 0px;
  }

  .containerButtons {
    margin-top: 45px;
    justify-content: center;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    
    height: 300px;
    background: #101823;
    box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
    background-color: var(--azulEScuroForte);
  }

  .containerText h4 {
    
    color: var(--amarelo);
  }

  .containerText h1 {
    margin-top: 10px;
    color: var(--branco);
  }

  .containerText h3 {
    margin-top: 10px;
    color: var(--amarelo);
  }

  .containerText h2 {
    margin-top: 10px;
    color: var(--branco);
  }

  .buttons {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  .buttons a {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: var(--cinza);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    background: rgb(217, 139, 79);
    background: linear-gradient(
      90deg,
      rgba(217, 139, 79, 1) 0%,
      rgba(216, 169, 129, 1) 100%
    );
  }

  .containerLoc1 {
    height: auto;
    width: auto;
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--azulEScuroForte);
  }

  .textLeftLoc {
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 120px;
  }

  .textLeftLoc h1 {
    text-align: left;
    color: var(--branco);
    padding-top: 20px;
    margin-left: 20px;
    width: 230px;
  }

  .textLeftLoc p {
    margin-bottom: 0px;
    text-align: left;
    width: 300px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 10%;
    color: var(--branco);
  }

  .floatContainers {
    animation: fadetobottom 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .locContainerFloatLeft {
    padding-top: 30px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    width: 350px;
    height: 250px;
    background: var(--azulEScuroForte);
    box-shadow: 0px 0px 0px #0a1017, 0px 0px 0px #16202f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .locContainerFloatRight {
    justify-content: center;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    width: auto;
    height: 120px;
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .textOneFloatLeft {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .textTwoFloatLeft {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .textTwoFloatLeft i {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .textOneFloatRight {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .textOneFloatRight h5 {
    text-align: center;
    width: 200px;
  }

  .textOneFloatLeft i {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .textTwoFloatRight {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .textTwoFloatRight h6 {
    text-align: center;
    margin-top: 8px;
    color: var(--branco);
  }
  
  .textTwoFloatRight h3 {
    text-align: center;
    font-weight: 800;
    color: var(--cinza);
  }

  .containerPlantaeDiff {
    animation: 2s ease-in 0s 1 fadeIn;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    background-color: var(--azulEScuroForte);
    justify-content: space-around;
  }

  .containerPlant {
    margin-left: 00px;
    margin-top: 80px;
    text-align: center;
  }
  
  .containerPlant h1 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: var(--branco);
  }

  .slider {
    cursor: pointer;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 550px;
    overflow: hidden;
    position: relative;
  }

  .btn {
    margin-bottom: 290px;
    margin-left: 100px;
    margin-right: 100px;
    width: 40px;
    height: 40px;
    background-color: var(--branco);
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
  }

  .buttonConsultor {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  
  .buttonConsultor a {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: var(--cinza);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    background: rgb(217, 139, 79);
    background: linear-gradient(
      90deg,
      rgba(217, 139, 79, 1) 0%,
      rgba(216, 169, 129, 1) 100%
    );
  }

  .containerDifferentials {
    margin-top: 90px;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
  
  .titleDiff {
    width: auto;
    padding: 15px;
    background-color: var(--amarelo);
    margin-bottom: 30px;
  }
  
  .titleDiff h7 {
    margin-left: 30px;
    color: var(--branco);
    font-size: 20px;
  }
  
  .titleDiff h2 {
    margin-left: 30px;
    color: var(--branco);
  }

  .itens {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
  }
  
  .itens i {
    margin-right: 10px;
    font-size: 25px;
    color: var(--amarelo);
  }
  
  .itens h4 {
    font-size: 22px;
    color: var(--branco);
  }
  
  .containerDiff1 {
    display: flex;
    flex-direction: row;
  }
  
  .column1 {
    margin-left: 45px;
    margin-right: 0px;
  }

  .apresentacao-container {
    margin-top: 20px;
    width: 384px;
    height: 216px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .apresentacao-containerx {
    margin-top: 20px;
    width: 384px;
    height: 216px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
  }


  .containerVideo {
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .leftVideo {
   display: none;
  }
  

  .rightVideo {
    margin-left: 5%;
    margin-right: 5%;
    height: 330px;
    width: 350px;
    background-color: var(--azulEScuroForte);
  }
  
  .rightVideo h1 {
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    color: var(--branco);
  }
  

  .leftVideo img {
    display: none;
  }

  .rightVideo iframe {
    width: auto;
    height: 150px;
    background: #101823;
    box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
    border-radius: 10px;
    padding: 1px;
    background-color: #e89a47;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 5%;
  }

  .containerTextLoc {
    padding-bottom: 200px;
    align-items: first baseline;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }

  .containerLoc {
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    height: 410px;
    background-color: var(--azulEScuroForte);
  }


  .textsLoc h6 {
    color: var(--amarelo);
  }
  
  .textsLoc h2 {
    color: var(--branco);
  }
  
  .containerTextLoc p {
    color: var(--branco);
    font-size: 14px;
    margin-left: 5%;
  }
  
  .textsLoc {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .iframeMap {
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    margin-bottom: 100px;
    margin-top: 14px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .iframeMap iframe {
    background: var(--azulEScuroForte);
    box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
    width: 100%;
    height: 300px;
  }

  .containerBigGalerryPhoto {
    width: 384px;
    height: 210px;
  }

  .containerGalerryPhoto {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
    height: 400px;
    align-items: center;
  }


.slider-wrapper .image-list {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    font-size: 0;
    list-style: none;
    margin-bottom: 0px;
    overflow-x: auto;
    scrollbar-width: none;
}

  .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

  .slider-wrapper .image-list .image-itemx {
    width: 225px;
    height: 380px;
  }

  .slider-wrapper .image-list .image-itemx img {
    width: 225px;
    height: 330px;
  }

  .slider-wrapper .image-list .image-itemx .containerTextoGalleryPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--azulEScuroForte);
    padding: 13px;
    width: 225px;
    bottom: 0;
  }

  .slider-wrapper .slide-button {
    margin-right: 40px;
    margin-left: 40px;
    position: absolute;
    top: 45%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: var(--branco);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(-50%);
  }

  .slider-wrapperX .slide-buttonX {
    margin-left: -30px;
    margin-right: -30px;
    position: absolute;
    top: 90%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: var(--cinza);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(-50%);
  }


  .slider-wrapperX .image-listX {
    height: 216px;
    width: 384px;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    gap: 15px;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .slider-wrapperX .image-listX .image-itemxX {
    width: 384px;
    height: 216px;
    object-fit: cover;
    cursor: pointer;
  }

  .slider-wrapperX .image-listX .image-itemX {
    width: 384px;
    height: 216px;
    object-fit: cover;
  }

  /* plantas */
  .slider-wrapperXy .slide-buttonX {
    margin-left: -30px;
    margin-right: -30px;
    position: absolute;
    top: 90%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: var(--cinza);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(-50%);
  }


  .slider-wrapperXy .image-listXy {
    height: 216px;
    width: 384px;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    gap: 15px;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .slider-wrapperXy .image-listXy .image-itemxXy {
    width: 384px;
    height: 216px;
    object-fit: cover;
    cursor: pointer;
  }

  .slider-wrapperXy .image-listXy .image-itemXy {
    width: 384px;
    height: 216px;
    object-fit: cover;
  }

  .slider-wrapperXy .slide-buttonXy {
    margin-left: -30px;
    margin-right: -30px;
    position: absolute;
    top: 90%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: var(--cinza);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(-50%);
  }

  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }

  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: var(--amarelo);
    top: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }

  .containerFichaTecnica {
    margin-top: 60px;
    background-color: var(--azulEScuro);
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .containerFichaTecnica img {
    width: 350px;
  }
  
  .textFicha {
    width: 350px;
    background-color: var(--amarelo);
  }

  .textFicha p {
    padding: 20px;
    color: var(--cinza);
  }

  .containerForms {
    background: var(--azulEScuroForte);
    box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: var(--azulEScuroForte);
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
  }

  .titleContato {
    padding-left: 0px;
  }
  
  .titleContato h6 {
    color: var(--amarelo);
  }
  
  .titleContato h2 {
    color: var(--branco);
  }
  
  .inputContainer {
    margin-left: 0px;
    
  }
  
  .group {
    margin-top: 20px;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  }
  
  .input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: var(--amarelo);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(232 154 71 / 10%);
  }
  
  .inputContainer button {
    cursor: pointer;
    margin-top: 20px;
    background: rgb(217, 139, 79);
    background: linear-gradient(
      90deg,
      rgba(217, 139, 79, 1) 0%,
      rgba(216, 169, 129, 1) 100%
    );
    height: 40px;
    width: 95%;
    border: none;
    color: var(--cinza);
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer button:hover {
    background: var(--amarelo);
  }

  .footerPage {
    padding-bottom: 30px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--azulEScuroForte);
    color: var(--branco);
  }
  
  .footer {
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--azulEScuroForte);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .logovienna {
    text-align: center;
    align-content: center;
    width: 30%;
  }
  
  .logovienna img {
    height: 80px;
  }
  
  .redes {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    width: 30%;
    font-size: 40px;
    color: var(--branco);
  }
  
  .redes i {
    padding: 20px;
  }
  
  .redes a {
    text-decoration: none;
    color: var(--branco);
    transition: 0.2s;
  }
  
  .redes a:hover {
    color: var(--amarelo);
  }
  
  .logoevler {
    text-align: center;
    align-content: center;
    width: 30%;
  }

  #formPop {
    width: 80%;
    height: 480px;
    margin-left: 10%;
    align-items: center;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  }
  #formPop::backdrop {
    background-color: rgb(0 0 0 / 0.7);
  }
  
  .containerFormsPop {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color: var(--azulEScuroForte);
    box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    
  }
  .containerFormsPop i {
    color: var(--branco);
    font-size: 30px;
    position: absolute;
    margin-left: 35%;
    margin-top: -35px;
    cursor: pointer;
  }
  

}
