:root {
  --azulEScuro: #101823;
  --azulEScuroForte: #08121d;
  --azulClaro: #145278;
  --amarelo: #e89a47;
  --branco: #fffaf5;
  --cinza: #08121d;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--azulEScuro);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadetobottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes desaparecer {
  from {
      opacity: .4;
  }
  to {
      opacity: 1;
  }
}

@keyframes desaparecer {
  from {
      opacity: .4;
  }
  to {
      opacity: 1;
  }
}

/* LINEAR DEGRADE DOURADO

background: rgb(217, 139, 79);
background: linear-gradient(
  90deg,
  rgba(217, 139, 79, 1) 0%,
  rgba(216, 169, 129, 1) 100%
);

*/

.banner img {
  height: 100%;
  width: 100%;
}

.container {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-top: -150px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  flex-direction: row;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.containerText {
  margin-left: 50px;
}

.containerText h4 {
  color: var(--amarelo);
}

.containerText h1 {
  margin-top: 10px;
  color: var(--branco);
}

.containerText h3 {
  margin-top: 10px;
  color: var(--amarelo);
}

.containerText h2 {
  margin-top: 10px;
  color: var(--branco);
}

.containerButtons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;

  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  background-color: var(--azulEScuroForte);
}

.containerButtons h3 {
  text-align: center;
  color: var(--branco);
  margin-bottom: 20px;
}

.buttons {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttons a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--cinza);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttons a:hover {
  background: var(--amarelo);
}

.buttons i {
  margin-right: 10px;
}

.containerLoc {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--azulEScuroForte);
}

.floatContainers {
  animation: fadetobottom 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textLeftLoc {
  height: 350px;
  width: 600px;
}

.textLeftLoc h1 {
  color: var(--branco);
  padding-top: 80px;
  margin-left: 50px;
}

.textLeftLoc p {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  color: var(--branco);
}

.locContainerFloatLeft {
  margin-top: -50px;
  margin-left: 17%;
  width: 600px;
  height: 100px;
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textOneFloatLeft {
  display: flex;
  flex-direction: row;
}

.textOneFloatLeft i {
  color: var(--branco);
  font-size: 20px;
}

.textOneFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.textTwoFloatLeft {
  display: flex;
  flex-direction: row;
}

.textTwoFloatLeft i {
  color: var(--branco);
  font-size: 20px;
}

.textTwoFloatLeft h4 {
  margin-left: 10px;
  color: var(--branco);
  font-size: 15px;
}

.locContainerFloatRight {
  justify-content: center;
  margin-top: -250px;
  margin-right: 10%;
  width: 430px;
  height: 120px;
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.textOneFloatRight {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.textOneFloatRight i {
  color: var(--branco);
  margin-right: 10px;
}

.textOneFloatRight h5 {
  color: var(--branco);
}

.textTwoFloatRight {
  margin-top: 10px;
  margin-left: 20px;
}

.textTwoFloatRight h6 {
  margin-top: 8px;
  color: var(--branco);
}

.textTwoFloatRight h3 {
  font-weight: 800;
  color: var(--cinza);
}

.containerPlantaeDiff {
  animation: 2s ease-in 0s 1 fadeIn;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  background-color: var(--azulEScuroForte);
  justify-content: space-around;
}

.containerPlant {
  margin-left: 50px;
  margin-top: 80px;
  text-align: center;
}

.containerPlant h1 {
  color: var(--branco);
}

.slider {
  cursor: pointer;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: left 0.5s;
}

.slide img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.btn {
  margin-bottom: 290px;
  margin-left: 150px;
  margin-right: 150px;
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn.prev {
  left: 20px;
}

.btn.prev i {
  color: var(--amarelo);
}

.btn.next {
  right: 20px;
}

.btn.next i {
  color: var(--amarelo);
}

.btn:hover {
  background: #666;
}

.buttonConsultor {
  margin-top: 30px;
  margin-bottom: 70px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.buttonConsultor a {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--cinza);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
}

.buttonConsultor a:hover {
  background: var(--amarelo);
}

.containerDifferentials {
  margin-top: 100px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.titleDiff {
  padding: 15px;
  background-color: var(--amarelo);
  margin-bottom: 30px;
}

.titleDiff h7 {
  margin-left: 30px;
  color: var(--branco);
  font-size: 20px;
}

.titleDiff h2 {
  margin-left: 30px;
  color: var(--branco);
}

.itens {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.itens i {
  margin-right: 10px;
  font-size: 25px;
  color: var(--amarelo);
}

.itens h4 {
  font-size: 22px;
  color: var(--branco);
}

.containerDiff1 {
  display: flex;
  flex-direction: row;
}

.column1 {
  margin-right: 120px;
}

.containerGallery {
  margin-top: 80px;
  margin-bottom: 10px;
}

.titleGallery h1 {
  text-align: center;
  color: var(--branco);
}

.apresentacao-container {
  width: 100%;
  height: 700px;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.apresentacao-fade {
  display: none;
}

.imgBanContainer {
  width: 960px;
  height: 540px;
  background-color: var(--branco);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.imgBanContainer img {
  width: 100%;
}

.anterior,
.proxima {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
}

.anterior i,
.proxima i {
  color: var(--amarelo);
}

.anterior {
  left: 10%;
  border-radius: 10px;
}

.proxima {
  right: 10%;
  border-radius: 10px;
}

.anterior:hover,
.proxima:hover {
  background-color: #666;
}

.fade {
  -webkit-animation-name: desaparecer;
  -webkit-animation-duration: 2s;
  animation-name: desaparecer;
  animation-duration: 2s;
}

.containerSwitch {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.containerSwitch a {
  padding: 20px;
  align-content: center;
  text-decoration: none;
  color: var(--branco);
  text-align: center;
  height: 40px;
  background-color: var(--amarelo);
}

.switch {
  cursor: pointer;
  transition: 0.3s;
}

.containerVideo {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.leftVideo {
  width: 40%;
}

.leftVideo img {
  opacity: 0.09;
  margin-left: 40%;
  width: 280px;
}

.rightVideo {
  height: 400px;
  width: 60%;
  background-color: var(--azulEScuroForte);
}

.rightVideo h1 {
  margin-top: 40px;
  margin-left: 30px;
  color: var(--branco);
}

.rightVideo iframe {
  background: #101823;
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  border-radius: 10px;
  padding: 1px;
  background-color: #e89a47;
  margin-top: 60px;
  margin-left: -70px;
}

.containerLoc {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--azulEScuroForte);
}

.textsLoc h6 {
  color: var(--amarelo);
}

.textsLoc h2 {
  color: var(--branco);
}

.containerTextLoc {
  padding-bottom: 200px;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}

.containerTextLoc p {
  color: var(--branco);
  font-size: 14px;
  margin-left: 5%;
}

.textsLoc {
  display: flex;
  flex-direction: column;
}

.iframeMap {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-bottom: 100px;
  margin-top: -140px;
  margin-left: 19%;
  margin-right: 19%;
}

.iframeMap iframe {
  background: var(--azulEScuroForte);
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  width: 100%;
  height: 500px;
}

.containerFichaTecnica {
  background-color: var(--amarelo);
  margin-right: 25%;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.containerFichaTecnica img {
  width: 250px;
}

.textFicha p {
  padding: 20px;
  color: var(--cinza);
}

.containerForms {
  background: var(--azulEScuroForte);
  box-shadow: 15px 15px 30px #0a1017, -15px -15px 30px #16202f;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
  background-color: var(--azulEScuroForte);
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.titleContato {
  padding-left: 50px;
}

.titleContato h6 {
  color: var(--amarelo);
}

.titleContato h2 {
  color: var(--branco);
}

.inputContainer {
  margin-left: 100px;
}

.group {
  margin-top: 20px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--amarelo);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(232 154 71 / 10%);
}

.inputContainer button {
  cursor: pointer;
  margin-top: 20px;
  background: rgb(217, 139, 79);
  background: linear-gradient(
    90deg,
    rgba(217, 139, 79, 1) 0%,
    rgba(216, 169, 129, 1) 100%
  );
  height: 40px;
  width: 95%;
  border: none;
  color: var(--cinza);
  font-weight: 600;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.inputContainer button:hover {
  background: var(--amarelo);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalx {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.closez {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.footerPage {
  padding-bottom: 30px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--azulEScuroForte);
  color: var(--branco);
}

.footer {
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--azulEScuroForte);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logovienna {
  text-align: center;
  align-content: center;
  width: 30%;
}

.logovienna img {
  height: 80px;
}

.redes {
  text-align: center;
  align-content: center;
  width: 30%;
  font-size: 40px;
  color: var(--branco);
}

.redes i {
  padding: 20px;
}

.redes a {
  text-decoration: none;
  color: var(--branco);
  transition: 0.2s;
}

.redes a:hover {
  color: var(--amarelo);
}

.logoevler {
  text-align: center;
  align-content: center;
  width: 30%;
}
